<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Marketplace</title>
  <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <br />
   <%- include('nav.ejs'); -%>
    <br />
   
            <div id="mensagem_info" class="d-flex justify-content-center mt-5 alert  alert-dismissible " role="alert">
                
                
              </div>
    <div class="d-flex justify-content-end mt-5">
<button type="button" class="btn btn-primary"   onclick="window.criarProdutoModal()">
        Adicionar Produto
      </button>
    </div>
    
    <div class="container mt-1">
        <% if (produtos.length > 0) { %>
            <div class="row flex-column">
                <% for (var i = 0; i < produtos.length; i++) { %>
                    <div class="card mb-4 shadow-sm">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img width="200" src="<%= produtos[i].imagem %>" class="img-fluid rounded-start" alt="<%= produtos[i].titulo %>">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"><%= produtos[i].titulo %></h5>
                                    <p class="card-text text-danger fs-5">R$ <%= produtos[i].preco %></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button id="<%= produtos[i].id %>" onclick="window.adicionarProduto('<%= encodeURI(JSON.stringify(produtos[i])) %>', '<%= produtos[i].id %>')" class="btn btn-success">
                                            Adicionar ao carrinho
                                        </button>
                                        <div class="d-flex row">
                                                <a  onclick='mostrarDadosProduto(<%= JSON.stringify(produtos[i]) %>)' class="btn btn-primary mb-2" >Editar</a> 
                                                <a  onclick="anuncieController.deletarProduto(<%= JSON.stringify(produtos[i].id) %>)" class="btn btn-danger mb-2">Excluir</a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <div class="alert alert-info" role="alert">
                Nenhum produto disponível.
            </div>
        <% } %>
    </div>
    
  </div>
  <div class="card_login" id="loginCard">

    <%- include('cards/login'); -%>
  </div>

  <div >

    <%- include('cards/cadastro_editar'); -%>
  </div>
</body>
<script>



// Função para abrir o modal  (edição)
function mostrarDadosProduto(produto) {
    document.getElementById('id_produto_form').value = produto.id;
    document.getElementById('nome').value = produto.titulo;
    document.getElementById('categoria').value = produto.categoria;
    document.getElementById('preco').value = produto.preco;
    document.getElementById('imagem').value = produto.imagem;
    document.getElementById('btn_modal_salvar').innerText = 'Editar Produto'
    var formModal = new bootstrap.Modal(document.getElementById('formModal'));
    formModal.show();
}

// Função para abrir o modal (criação)
function criarProdutoModal() {
    document.getElementById('produtoForm').reset();
    document.getElementById('id_produto_form').value = '';
    
    var formModal = new bootstrap.Modal(document.getElementById('formModal'));
    formModal.show();
}



</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
      

</script>

<%- include('js/funcions'); -%>
<%- include('js/AnuncieFrontController'); -%>

<script>
    const anuncieController = new AnuncieController('produtoForm','mensagem_info');
</script>
<script>
    // Obtém o botão de salvar do modal
const btnModalSalvar = document.getElementById('btn_modal_salvar');

// Adiciona um evento de clique ao botão
btnModalSalvar.addEventListener('click', function() {
    document.querySelector('[data-bs-dismiss="modal"]').click();
});
</script>
</html>